.band-member {
    margin: 20px auto;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    text-align: center;
}

.band-member img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
}

.band-member h3 a {
    color: #ff80bf;
    text-decoration: none;
    font-weight: bold;
}

.band-member:nth-child(3) a:hover {
    text-decoration: underline;
    color: #ff4d4d;
}

.band-member:nth-child(4) a:hover {
    text-decoration: underline;
    color: #ffcc00;
}

.band-member:nth-child(5) a:hover {
    text-decoration: underline;
    color: #3399ff;
}

.band-member p {
    color: #555;
    margin: 10px 0;
}